<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>My Account | Metronic Shop UI</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="/static/MetronicShopUI/assets/LoginImg/lan.jpg">

  <!-- Fonts START -->
  <link href="static/MetronicShopUI/assets/css/font-shop-productlist.css" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->
  <link href="/static/MetronicShopUI/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END -->

  <!-- Page level plugin styles START -->
  <link href="/static/MetronicShopUI/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="/static/MetronicShopUI/assets/pages/css/components.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/corporate/css/style.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="/static/MetronicShopUI/assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/corporate/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="/static/MetronicShopUI/assets/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
    <!-- BEGIN STYLE CUSTOMIZER -->

    <!-- END BEGIN STYLE CUSTOMIZER -->

    <!-- BEGIN TOP BAR -->
    {% include 'shop-header.html' %}
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">主页</a></li>
            <li class="active">我的帐户页面</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix"><a href="to_login"><i class="fa fa-angle-right"></i> 登录/注册</a></li>
              <li class="list-group-item clearfix"><a href="to_standart"><i class="fa fa-angle-right"></i> 修改个人信息</a></li>
              <li class="list-group-item clearfix"><a href="to_collect"><i class="fa fa-angle-right"></i> 我的收藏</a></li>
              <li class="list-group-item clearfix"><a href="to_my_cart"><i class="fa fa-angle-right"></i> 我的购物车</a></li>
              <li class="list-group-item clearfix"><a href="to_myorder"><i class="fa fa-angle-right"></i> 我的历史订单</a></li>
              <li class="list-group-item clearfix"><a href="to_myshippingaddress"><i class="fa fa-angle-right"></i> 我的收货地址</a></li>
              <li class="list-group-item clearfix"><a href="to_chat"><i class="fa fa-angle-right"></i>商城互动</a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->

          <div class="col-md-9 col-sm-7">
            <h4>个人信息</h4><span><a style="color: red" href="to_standart">修改</a></span>
            <div class="content-page">
              <ul>
                <li> 昵称: {{ user.nickname }}</li>
                <li> 密码:******** </li>
                <li> 联系电话: {{ user.username }}</li>
                <li> 出生日期: {{ user.birthday }}</li>
                <li> email地址: {{ user.email }}</li>
                <li> 性别:{{ user.gender }} </li>
                <li> 头像:
                    <img src="{{ user.info }}" style="height: 50px" alt="">
                </li>
              </ul>
              <hr>
              </ul>
            </div>
          </div>
        <h4 style="margin-left: 300px;">我的评价</h4>
          <div class="col-md-9 col-sm-7" style="height: 300px;overflow-y: auto;margin-left: 300px;">

            <div class="content-page">
            {% if cmts_list %}
                {% for item in cmts_list %}
                   <div class="review-item clearfix">
                                <div class="review-item-submitted">
                                  <em>{{ item.cmts_time }}<span>&nbsp;&nbsp;&nbsp;&nbsp;我的评价:{{ item.cmts_star }}</span></em><a href="to_shop_item?goods_id={{ item.goods_id }}" style="color: #33b5e5">查看评价商品</a>
                                </div>
                                <div class="review-item-content">
                                    <p>
                                        {% autoescape off%}
                                            {{ item.cmts_content }}
                                        {% endautoescape %}
                                    </p>
                                </div>

                              </div>
                {% endfor %}
            {% else %}
                <h3>您暂未发表评价</h3>
            {% endif %}
                <hr>
            </div>
          </div>
        <h4 style="margin-left: 300px;">我的提问</h4>
          <div class="col-md-9 col-sm-7" style="height: 300px;overflow-y: auto;margin-left: 300px;">

            <div class="content-page">
            {% if wen_list %}
                {% for item in wen_list %}
                   <div class="review-item clearfix">
                                <div class="review-item-submitted">
                                  <em>{{ item.wen_time }}<span>&nbsp;&nbsp;&nbsp;&nbsp;点赞量:{{ item.dianzan }}</span></em><a href="to_shop_item?goods_id={{ item.goods_id }}" style="color: #33b5e5">查看提问商品</a>

                                </div>
                                <div class="review-item-content">
                                    <p>{{ item.wen }}</p>
                                </div>

                              </div>
                {% endfor %}
            {% else %}
                <h3>您暂未发表提问</h3>
            {% endif %}
                <hr>
            </div>
          </div>

            <!-- END CONTENT -->
            <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
    </div>
    <!-- BEGIN BRANDS -->
    {% include 'shop-footer.html' %}
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="/static/MetronicShopUI/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/js/jQuery-session.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/static/MetronicShopUI/assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="/static/MetronicShopUI/assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src="/static/MetronicShopUI/assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/js/for-header.js" type="text/javascript"></script><!-- 自己写的 -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->

</body>
<!-- END BODY -->
</html>
