<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Terms &amp; Conditions | Metronic Shop UI</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="/static/MetronicShopUI/assets/LoginImg/lan.jpg">

  <!-- Fonts START -->
  <link href="static/MetronicShopUI/assets/css/font-shop-productlist.css" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->
  <link href="/static/MetronicShopUI/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END -->

  <!-- Page level plugin styles START -->
  <link href="/static/MetronicShopUI/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="/static/MetronicShopUI/assets/pages/css/components.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/corporate/css/style.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="/static/MetronicShopUI/assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="/static/MetronicShopUI/assets/corporate/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="/static/MetronicShopUI/assets/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
    <!-- BEGIN STYLE CUSTOMIZER -->

    <!-- END BEGIN STYLE CUSTOMIZER -->

    <!-- BEGIN TOP BAR -->
    {% include 'shop-header.html' %}
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">条款 &amp; 条例</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix"><a href="to_login"><i class="fa fa-angle-right"></i> 登录/注册</a></li>
              <li class="list-group-item clearfix"><a href="to_standart"><i class="fa fa-angle-right"></i> 修改个人信息</a></li>
              <li class="list-group-item clearfix"><a href="to_collect"><i class="fa fa-angle-right"></i> 我的收藏</a></li>
              <li class="list-group-item clearfix"><a href="to_my_cart"><i class="fa fa-angle-right"></i> 我的购物车</a></li>
              <li class="list-group-item clearfix"><a href="to_myorder"><i class="fa fa-angle-right"></i> 我的历史订单</a></li>
              <li class="list-group-item clearfix"><a href="to_myshippingaddress"><i class="fa fa-angle-right"></i> 我的收货地址</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> 我的消息</a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <h1>条款条例</h1>
            <div class="content-page">
                <p>客户在接受商品订购与送货的同时，有义务遵守以下交易条款。您在懒人下订单之前或接受懒人送货之前，请您仔细阅读以下条款：

1. 订购的商品价格以您下订单时懒人网上价格为准。

2. 请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，懒人将不承担责任：

 A. 客户提供错误信息和不详细的地址；

B. 货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果；

C. 不可抗力，例如：自然灾害、交通戒严、突发战争等。

3. 安全性：无论您是电话订购商品或是网络订购商品，我们会保证交易信息的安全，并由懒人授权的员工处理您的订单。

4. 隐私权：懒人尊重您的隐私权，在任何情况下，我们都不会将您的个人和订单信息出售或泄露给任何第三方（国家司法机关调取除外）。我们从网站上或电话中得到的所有客户信息仅用来处理您的相关订单。

5. 免责：如因不可抗力或其它懒人无法控制的原因使懒人销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，懒人会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。

6. 客户监督：懒人希望通过不懈努力，为客户提供最佳服务，懒人在给客户提供服务的全过程中接受客户的监督。

7. 争议处理：如果客户与懒人之间发生任何争议，可依据当时双方所认定的协议及相关法律进行解决。</p>
              <h2>特殊说明:</h2>

                <p>1. 懒人所服务的客户为以终端消费为目的的个人、企业、事业单位及其他社会团体，不包括经销商，如发现经销商购物，懒人将拒绝为其服务。由此产生的一切后果由经销商自行承担。

2.如果一个ID帐号在一个月内有过1次以上或一年内有过3次以上（不含本数），因非因懒人原因导致拒收懒人配送的商品，懒人将从相应的ID帐户里按每单扣除500个懒豆做为运费补偿。

即一个用户一个月内，如果拒收次数超过一次，第一次拒收的订单不扣除懒豆，第二次及以上拒收的订单，每单扣除500懒豆；一个用户一年内，如果拒收次数超过三次，前三次拒收的订单不扣除懒豆，（其中若存在一个月内有过1次以上的情况，按照以上规定操作）第四次及以上拒收的订单，每单扣除500懒豆

时间计算方法为：成功提交订单后向前推算30天为一个月，成功提交订单后向前推算365天为一年，不以自然月和自然年计算。</p>
              <h3>懒人承诺：</h3>
              <ul>
                <li>1. 我们秉承质优价低、放心满意的销售理念为您服务。我们所出售的商品均为正品行货，与您亲临商场选购的商品一样享受相同的质量保证；含有质量保证书的商品按照保证书的承诺执行，其它商品按国家有关规定执行。 </li>
                <li>2. 我们承诺在运输“保价费”上永久免费，在配送环节上承担保险费用，运输过程的风险一律由懒人承担，客户收到货物如果有损坏、遗失等情形，只要当场提出声明，并进行相关举证，懒人将按照正常售后退换货程序予以先行处理。 </li>
                <li>3. 我们承诺通过我司提供的网上支付平台支付，为客户承担全额手续费，但由于客户原因取消正常状态下的订单要求款项返还时（做懒人帐户余额除外），则由客户承担相关手续费；货物打包不收取任何包装费。</li>
              </ul>

              <h2>特别提示：</h2>

              <p>1. 如您购买的商品在规定时间内出现国家法律所规定的性能故障或商品质量问题，需要返修/退换货时，请您在我的懒人提交返修/退换货申请，申请单审核通过后，按照提示信息将物品以普通快递（请别使用到付）的方式寄回懒人或卖家售后，相关的邮寄运费将以懒人余额的形式返还到您的懒人账户中。如未提交返修/退换货申请或未通过审核而将商品寄回，则懒人或卖家有权拒绝您的相关申请。具体详情可参见售后政策中的售后服务流程>>

2. 我们保证出货时商品外包装的完好无缺。请您在收到货物时当场仔细检查发票及货品与送货单的商品是否一致，如果发现商品缺少或已破损等情况，请当场即配送人员还在现场时与我司客服部联系；如果发现邮寄包装破损，货物在运输途中破损等情况，请当场指出并拒收，拒收后请致电我司客服，如您已签收或他人代为签收，则视为商品外包装，商品数量及内容无误，我司将无法受理。电子类商品如手机、相机、笔记本等有原厂包装、标签的3C产品，可以打开原厂包装，但不能安装电池开机启动，不能通电、过水、插入卡槽。请您在确认外观无损的情况下确认收货，如确认收货后，发现外观问题将无法办理。</p>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>

    <!-- BEGIN BRANDS -->
    {% include 'shop-footer.html' %}
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="/static/MetronicShopUI/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/js/jQuery-session.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/static/MetronicShopUI/assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="/static/MetronicShopUI/assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

    <script src="/static/MetronicShopUI/assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script src="/static/MetronicShopUI/assets/js/for-header.js" type="text/javascript"></script><!-- 自己写的 -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
