<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-truck"></i>
            <div>
              <h2>免运费</h2>
              <em>优质快递</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-gift"></i>
            <div>
              <h2>附赠优惠</h2>
              <em>定期抽取会员赠送礼物</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-phone"></i>
            <div>
              <h2>留言反馈</h2>
                <em>随时留信评价</em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END STEPS -->

    <!-- BEGIN PRE-FOOTER -->
   <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>关于我们</h2>
            <p>我们是一颗未来之星 </p>
            <p>名唤"懒人"</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->
          <!-- BEGIN BOTTOM INFO BLOCK -->
          <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2 class="xinxi_yanzheng">信息</h2>
            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">交货信息</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">客户服务</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">订单跟踪</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">发货和退货</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="contacts.html">联系我们</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">职业</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">付款方式</a></li>
            </ul>
          </div>
          <!-- END INFO BLOCK -->

          <!-- BEGIN TWITTER BLOCK -->
          <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2 class="margin-bottom-0">公司地址</h2>

          </div>
          <!-- END TWITTER BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>联系我们</h2>
            <address class="margin-bottom-40">
              天津 和平区<br>
              张自忠路港湾大厦4楼306<br>
              电话: 022 8888888<br>
              传真: 022 8888888<br>
              邮箱: <a href="####">1037227556@qq.com</a><br>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->
        </div>
        <hr>
        <div class="row">
          <!-- BEGIN SOCIAL ICONS -->
          <!-- END SOCIAL ICONS -->
          <!-- BEGIN NEWLETTER -->
          <div class="col-md-6 col-sm-6">
            <div class="pre-footer-subscribe-box pull-right">
              <form action="#">
                <div class="input-group">
                </div>
              </form>
            </div>
          </div>
          <!-- END NEWLETTER -->
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->

    <!-- END FOOTER -->
</body>
</html>