<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>lzx parse video</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="/static/xiazhudenglu/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/xiazhudenglu/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/static/xiazhudenglu/css/demo.css" />
  <link rel="stylesheet" href="/static/xiazhudenglu/css/templatemo-style.css">
  
  <script type="text/javascript" src="/static/xiazhudenglu/js/modernizr.custom.86080.js"></script>
		
	</head>

	<body>

			<div id="particles-js"></div>

			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1></h1></header>
					<P class="mb-5">请将视频播放网址(如爱奇艺、优酷、腾讯等)复制到此处！点击播放即可！</P>
					
                    <form action="vipshipin_jiexi" method="get" id="admin_form" autocomplete="off" class="subscribe-form">
               	    	<div class="row form-section">

							<div class="col-md-12 col-sm-7 col-xs-7">
			                      <input placeholder="例：https://www.iqiyi.com/v_19rvd8g2wc.html" name="wangzhi" type="text" autocomplete="off" required style="width: 100%"/>
				  			</div>
							<div class="col-md-12 col-sm-5 col-xs-5" style="margin-top: 20px;">
                                <input type="submit" class="btn-outline-primary" value="一&nbsp;&nbsp;&nbsp;&nbsp;键&nbsp;&nbsp;&nbsp;&nbsp;播&nbsp;&nbsp;&nbsp;&nbsp;放" style="width: 100%">
							</div>
						
						</div>
                    </form>
					</div>
				</div>	
			</div>
	</body>

<script type="text/javascript" src="/static/xiazhudenglu/js/particles.js"></script>
<script type="text/javascript" src="/static/xiazhudenglu/js/app.js"></script>
</html>